<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments :: head('Login Page')}">
</head>
<script th:src="@{/js/LoginPage/script.js}" defer></script>

<body class="flex flex-col min-h-screen text-gray-600 bg-[url('/images/bgimg.png')] z-0">
<div class="@container mx-auto px-4 py-8 m-auto flex flex-col justify-center items-center shadow-lg rounded-3xl w-md bg-white">
    <div class="fixed inset-0 backdrop-blur-xl flex justify-center items-center z-50 animate-fadeIn" id="error-popup" th:if="${param.error}">
        <div class="@container mx-auto px-2 py-4 m-auto flex flex-col justify-center items-center shadow-lg rounded-3xl w-md bg-white">
            <h2 class="color-red">Erro!</h2>
            <a th:href="@{login}">as</a>
        </div>
    </div>



    <h1 class="flex justify-center items-center text-center pb-5 text-3xl">Login</h1>
    <form class="flex flex-col" action="/login" method="POST" th:object="${loginRequestDTO}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="text"
               class="border-2 border-solid rounded-full border-indigo-500/75 h-10 w-full pl-5 transition-all duration-300 ease-in-out focus:scale-102 focus:shadow-md focus:outline-none"
               id="identifier_input"
               name="email"
               th:field="*{identifier}"
        />
        <label class="block" for="identifier_input">
            <span class="">Email or Username</span>
            <p class="invisible peer-invalid:visible ...">Please provide a valid email address or username.</p>
        </label>

        <input type="password"
               class="border-2 border-solid rounded-full border-indigo-500/75 h-10 w-full pl-5 transition-all duration-300 ease-in-out focus:scale-102 focus:shadow-md focus:outline-none"
               id="psw_input"
                name="password"
               th:field="*{password}"
        />
        <label class="block" for="psw_input">
            <span class="">Password</span>
            <p class="invisible peer-invalid:visible ...">Please provide a valid email address.</p>
        </label>

        <a th:href="@{forgotpassword}" class="flex place-self-end relative top-[-47px] hover:text-sky-500 hover:underline transition-all duration-300 ease-in-out">Forgot Password?</a>
        <button type="submit"
                class="font-bold rounded-full bg-sky-500 flex justify-center justify-self-center self-center items-center h-10 w-full py-5 px-10 text-white cursor-pointer transition-transform duration-200 ease-in-out hover:bg-sky-600 hover:inset-ring-2 hover:inset-ring-sky-500 hover:scale-105">Login</button>
        <div class="flex flex-row items-center justify-center  mt-3">
            <p>Don't have an account? <a th:href="@{register}" class="hover:text-sky-500 hover:underline transition-all duration-300 ease-in-out">Register</a></p>
        </div>
    </form>
</div>
</body>
</html>